/******** Variable ********/
$bg-dark: #12002b;
$active-link: #42b983;

$primary-color: #2c3e50;

$secondary-color: white; //mostly, text color
$tertiary-color: #f6f6f6; //mostly, background block and container
$quaternary-color: black; //mostly, background footer
